.body-index{
    background-image: url(../image/body-index.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#navbar {
    width: 100vw;
    height: 15vh;

}

.form-row {
    margin: 10%;
}