{% extends 'admin/layout.html.twig' %}

{% block title %}Edit Theme
{% endblock %}

{% block body %}
	<h1>Modifier</h1>
	<div class="d-flex flex-row bd-highlight mb-3">
		<div class="p-2 bd-highlight">
			{{ include('admin/theme/_form.html.twig', {'button_label': 'Modifier'}) }}
			{{ include('admin/theme/_delete_form.html.twig') }}
		</div>
	</div>

	<a href="{{ path('admin_theme_index') }}">Retour</a>

{% endblock %}
