{% extends 'admin/layout.html.twig' %}

{% block title %}Theme index
{% endblock %}

{% block body %}
	<h1>Theme index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for theme in themes %}
				<tr>
					<td>{{ theme.name }}</td>
					<td>
						<a href="{{ path('admin_theme_show', {'id': theme.id}) }}">show</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('admin_theme_new') }}">Create new</a>
{% endblock %}
