{% extends 'base.html.twig' %}

{% block navbar %}
	{% include 'admin/navbar.html.twig' %}
{% endblock %}

{% block body %}
	<div class="">
		<div class="">
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
