<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}

			<link rel="stylesheet" href="{{ asset('style/style.css') }}">
			<link rel='stylesheet' href='{{ asset('https://bootswatch.com/4/flatly/bootstrap.min.css') }} '>
		{% endblock %}
	</head>
	<body>
		{% block navbar %}{% endblock %}

		<div>
			{% block body %}
				{% block content %}{% endblock %}
			{% endblock %}
		</div>

		{% block javascripts %}{% endblock %}
	</body>
</html>
